
header .logo img {
    width: 5% ;
    height: 5% ;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
     width: 2%;           /* don’t stretch */
    height: 2%;
}

div{
     border: 1px solid black;

}