
/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* Left side */
.left-side {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(4px); /* glass effect */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-side h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    line-height: 1.4;
}

/* Right side */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
        width: 350px;
        
}



